<div class='user-menu'>User Menu</div>
<div class='area-info'>Area Info
<button class='test-button'></button>
</div>

<!-- Action Display -->

<div class='action-display'>Action Display

<div class='text-display'></div>

<button class='attack'>Attack</button>
<button class='defend'>Defend</button>
<button class='items'>Items</button>
<button class='info'>Gather Info</button>
<button class='forfeit'>Forfeit</button>
<button class='special'>Raison d'être</button>

	<div class='turn-display'>
		<div class='slot one'>Current</div>
		<div class='slot two'>2nd</div>
		<div class='slot three'>3rd</div>
		<div class='slot four'>4th</div>
		<div class='slot five'>5th</div>
	</div>
</div>

<!-- Party Display -->

<div class='party-display'>
	<h4 class='title'>Party Display</h4>
		<div class='player-info one'>Player 1</div>
		<div class='player-info two'>Player 2</div>
		<div class='player-info three'>Player 3</div>
		<div class='player-info four'>Player 4</div>
</div>

<!-- Boss Display -->

<div class='boss-display'>
	<h4 class='title'>Boss Display</h4>
		<div class='boss-hp'>
			<div class='hp-value'>HP</div>
		</div>
		<div class='boss-info'>Boss Info Here</div>
		<div class='boss-attacks'>Boss Attacks Here</div>
		<div class='boss-status'>Boss Status Here</div>

</div>

<!-- Animation Canvas -->
<canvas class='animation-canvas'></canvas>

<!-- Player Objects -->
<!-- <div class='player-one'>P1</div>
<div class='player-two'>P2</div>
<div class='player-three'>P3</div>
<div class='player-four'>P4</div> -->

<!-- Boss Display -->
<!-- <div class='boss'>Boss</div> -->

